[2015-07-12 20:12] pippinsplugins opened #1 "Add support for importing previous sales data to MailChimp"
Using the new bulk processing in EDD 2.4, we should add a tool under the Tools tag for importing past sales data.

[2015-07-13 04:59] cklosowski commented on #1
@pippinsplugins have a look over this

[2015-07-13 22:15] pippinsplugins commented on #1
Aside from some PHPDoc clean up, looks great!

[2015-07-13 22:15] pippinsplugins commented on #1
(oh and one inline comment about wpdb)

[2015-07-19 04:21] EngageWP opened #2 "Switching the input/label order on checkout page"
Hey, guys. I was playing around, recently, with the MailChimp add-on for EDD and noticed that the order of the checkbox and label it adds to the checkout page is input -> label, but the order for EDD is label -> input. While not a big deal, it creates a strange look out of the box (see attached image). Personally, I like the EDD order (label -> input) so I'd like to see the MailChimp add-on have t

[2015-07-20 02:15] pippinsplugins commented on #2
Good catch. A PR would be great!

[2015-07-20 02:44] EngageWP commented on #2
Done

[2015-07-20 13:27] pippinsplugins commented on #2
#3

[2015-07-20 13:29] pippinsplugins commented on #1
@cklosowski Could you finish this up early this week so we can ship it?

[2015-08-05 15:32] cklosowski commented on #1
Yeah, it's working perfectly I'll formalize a commit.

[2015-08-05 16:18] pippinsplugins commented on #1
@cklosowski What happens if you double import sales? Does MC detect duplicats?

[2015-08-05 16:34] cklosowski commented on #1
it does detect duplicates. I've run the import on PPP multiple times now:
![screen shot 2015-08-05 at 9 33 57 am](https://cloud.githubusercontent.com/assets/1390124/9091448/3b971d7a-3b55-11e5-92ca-c46d252394fa.png)

[2015-08-05 20:28] pippinsplugins commented on #1
Awesome, that's what I wanted to hear. Merge this in and deploy at will.

[2015-08-14 17:01] pderksen opened #5 "Checkout page checkbox & label alignment"
[This commit](https://github.com/easydigitaldownloads/edd-mail-chimp/commit/ce9368dc4e388a57c17fbaa1ca6803a6a3047e37) tweaked my checkbox/label alignment. I prefer <input> before <label>.

![image](https://cloud.githubusercontent.com/assets/79667/9279222/e488e29e-426a-11e5-9e5d-9454a63245d4.png)

I noticed EDD's checkout still has it the old way.

![image](https://cloud.githubusercontent.com/asset

[2015-08-17 20:36] pippinsplugins commented on #5
This was done to make it consistent with core.

Can you look at the HTML and confirm the HTML matches (or doesn't match) now?

[2015-08-19 02:04] pderksen commented on #5
@pippinsplugins Not sure what you mean.

https://easydigitaldownloads.com/checkout/ has <input> before <label> (for the mailchimp checkbox), and https://wpsimplepay.com/checkout/ has <label> before <input> (once you add to your cart of course).

Might just be a CSS tweak (though not sure what), but just curious why EDD's site has the HTML elements switched I guess.

[2015-08-25 18:08] pippinsplugins opened #6 "Integrate with Software Licensing and add merge tags for license details"
It would be magnificent if this integrated with Software Licensing and automatically sent data to MailChimp regarding license keys. The following data could be sent:
- license status
- license expiration
- license key
- product name
- activation limit
- activations used

We may have to make this optional and require that customers create the merge fields before hand, but this would be so powerful.

[2015-08-25 18:09] pippinsplugins commented on #6
@cklosowski I would love for this to be one of the focuses when you get back.

[2015-08-31 16:00] pderksen commented on #5
@pippinsplugins Looks like your site matches mine now.

![image](https://cloud.githubusercontent.com/assets/79667/9583198/c3f7af68-4fbe-11e5-830f-ff6703c08785.png)

[2015-08-31 16:38] pippinsplugins commented on #5
Ok so CSS needs updated.

It now matches core HTML:

[code]

[2015-09-01 13:15] SDavisMedia commented on #2
This should be reverted. I understand the need to match core but after a lot of weighing pros and cons, it's core that needs to change. The MailChimp extension is correct.

Just for the sake of clarity, what I _believe_ happened in EDD core was a push for consistency in the checkout fields: having labels above inputs. That makes sense for text input fields but it does not for the checkboxes... at

[2015-09-01 13:22] SDavisMedia commented on #2
Related: #5

[2015-09-01 13:56] pippinsplugins commented on #2
@SDavisMedia This will also need to be updated in Aweber, and GetResponse.

[2015-09-01 14:00] SDavisMedia commented on #2
@pippinsplugins Aweber looks like it has the right structure. https://github.com/easydigitaldownloads/edd-aweber/blob/eba75838c70845d47eb1d212c00b62e9e84f116c/includes/class-edd-newsletter.php#L122 Not GetResponse, though. But I'll look at them all closely.

[2015-09-01 14:03] pippinsplugins commented on #2
:+1:

On Tue, Sep 1, 2015 at 9:00 AM, Sean Davis <notifications@github.com> wrote:

[2015-09-12 04:16] SDavisMedia commented on #2
@pippinsplugins Do we want to do a point release that just reverts this change?

[2015-09-12 19:10] pippinsplugins commented on #2
@SDavisMedia Yes please. Push when ready.

[2015-09-13 07:18] SDavisMedia commented on #2
Gonna close this again and work from issue/branch #5.

[2015-09-13 07:18] #2 closed

[2015-09-13 07:26] SDavisMedia commented on #5
@pippinsplugins I've reverted the changes that caused this. Everything's pushed and tagged 2.5.4. Just want to make sure the next step would be using Git Download Updater on the live site for pushing the update out.

[2015-09-13 07:28] pippinsplugins commented on #5
Yes sir! Make sure change log doesn't get lost

On Sunday, September 13, 2015, Sean Davis <notifications@github.com> wrote:

[2015-09-13 07:39] SDavisMedia commented on #5
@pippinsplugins Sweet. The update is pushed. The File Name field will not hold a value for some reason. http://glui.me/?i=r8bh07aex3o8jf5/2015-09-13_at_2.38_AM.png/ Folder name is good, though.

@pderksen Thanks for your patience here. Can you let me know if you have any issues with the automatic update? If everything goes well, this should align everything properly again without needing any addit

[2015-09-14 15:02] pderksen commented on #5
@SDavisMedia @pippinsplugins Thanks, but it looks like the EDD-Mailchimp 2.5.3 add-on is still getting delivered in the automatic update. New zip file not pushed or version bump missed somewhere?

[2015-09-14 15:04] SDavisMedia commented on #5
@pderksen How long ago did you try? If it was more than about 10 minutes ago, can you try for me one more time? Sorry for the inconvenience. We're trying to get a new updater system worked out.

[2015-09-14 15:25] pderksen commented on #5
@SDavisMedia No problem. Just tried again and still updating to 2.5.3 with continued notification to update TO 2.5.4.

[2015-09-14 15:28] SDavisMedia commented on #5
Okay thanks, man. I'll get it sorted out in just a few. I'll test on my own once I get another one taken care of. Feel free to just pull down `master` here.

Just out of curiosity, what's the name of your MailChimp plugin folder? *edd-mailchimp* or *edd-mail-chimp*?

[2015-09-14 15:29] pderksen commented on #5
`edd-mailchimp` I don't mind being the guinea pig. :)

[2015-09-14 15:30] SDavisMedia commented on #5
Thanks! Please give it a shot now and let me know if it works.

[2015-09-14 15:38] pderksen commented on #5
No go still. Not sure if it matters but I'm on WP Engine.

[2015-09-14 15:42] SDavisMedia commented on #5
No it shouldn't matter. There's something funky going on and I'm working with the guys right now to find some consistency in the issue. I'm sure we'll track it down shortly. Sorry about this!

[2015-09-14 17:10] pderksen commented on #5
It's low priority. Don't sweat it. I'll test for you again later when you're ready.

[2015-09-14 18:28] SDavisMedia commented on #5
Okay @pderksen! I think we're good to go now. You can give it a shot and if the universe loves me, you'll be running 2.5.4.

[2015-09-14 18:33] pderksen commented on #5
Update worked...and fix worked. Thanks! :clap:

[2015-09-14 18:34] SDavisMedia commented on #5
Thank you, Sir! I appreciate the patience and the testing. :+1:

[2015-09-14 18:34] #5 closed

[2016-01-06 21:27] SDavisMedia opened #8 "Support for Checkout Fields Manager"
Relevant ticket: https://secure.helpscout.net/conversation/157513499/24602/?folderId=321418

The goal is to be able to send data collected from the customer through fields created by Checkout Fields Manager to MailChimp like the other data is sent. That way MailChimp's features can be used with custom purchase data as well.

[2016-01-11 15:31] mindctrl opened #9 "Improve experience for refreshing mailing lists"
We've been asked about this quite a bit and people sometimes think the extension is broken because their new lists don't show up in their dashboard. We tell them to save settings, but they don't know that unless we tell them.

A customer suggested we add a button/link to refresh the lists. At the very least, having the description under the list dropdown tell them to save settings to refresh would

[2016-01-11 17:58] pippinsplugins commented on #9
:+1: I'd be fine with a refresh button.

On Monday, January 11, 2016, mindctrl <notifications@github.com> wrote:

[2016-01-27 05:13] cklosowski opened #10 "Add support for EDD 2.5 subsections"

[2016-01-27 05:22] cklosowski commented on #10
@pippinsplugins ready for review.

[2016-01-28 22:43] #10 closed

[2016-02-11 18:03] pippinsplugins opened #12 "Update to API 3.0"
MailChimp is discontinuing all previous versions of the API by the end of 2016: https://twitter.com/MailChimp_API/status/697843154616242176

[2016-02-17 16:05] davekiss commented on #12
@pippinsplugins What's the general consensus on minimum supported PHP version for this? There's a nice lil API v3 wrapper for PHP 5.3+, but when I tried to move my own plugin to that about 3+ years ago, the world exploded due to namespacing.

[2016-02-17 16:09] pippinsplugins commented on #12
5.3 is fine.

[2016-02-17 19:23] davekiss commented on #12
Cool, thanks for the quick reply.

So, MailChimp switched some things up for the ways they manage subscribing an email to a list with associated interest categories (formerly called "Groups/Groupings"); namely, you can no longer subscribe an email to certain groups based on the group name, which is how it has been done in the past:

https://github.com/easydigitaldownloads/edd-mail-chimp/blob/92811

[2016-02-17 19:55] pippinsplugins commented on #12
I think the best option would be to run an upgrade routine immediately after the plugin update is installed. EDD core provides an API for running batch upgrade routines that can reliably handle thousands of products. Have you seen that @davekiss ?

[2016-02-17 20:00] davekiss commented on #12
@pippinsplugins can you link to the best place I can dive in and get learning?

[2016-02-17 20:02] pippinsplugins commented on #12
Yep! https://github.com/easydigitaldownloads/Easy-Digital-Downloads/tree/master/includes/admin/upgrades

1. Add an admin notice with a link to start the upgrade routine. Example: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/includes/admin/upgrades/upgrade-functions.php#L134
2. Setup the upgrade routine itself: https://github.com/easydigitaldownloads/Easy-Digital-Downl

[2016-02-18 15:54] jprummer commented on #12
I'm not sure how far you all are on this but I started rebuilding this for the 3.0 API a few months ago and stopped because not all features were yet available in 3.0. I'm sure my code is a mess as I literally just stopped in the middle, but let me know if you want it. :)

[2016-02-22 18:30] davekiss commented on #12
@jprummer thanks for the offer! I'm in the middle of rewriting a big chunk of this myself, so I'm guessing just sticking with what I've got will be quicker. I appreciate it!

[2016-02-22 19:07] davekiss commented on #12
@pippinsplugins bit of a complication - the way that this plugin currently stores Group IDs makes it difficult to find the same record using API v3. You can no longer look up a Group record by its integer ID in API v3, so there is no surefire way of knowing that the Group that you are working with is the same one that is in the settings.

See the READ method here: http://developer.mailchimp.com/do

[2016-02-22 22:36] pippinsplugins commented on #12
That's unfortunate. Sounds like looping through and comparing names is probably the best way.

[2016-02-25 15:20] davekiss commented on #12
Can you add me as a member here so I can start a new api3 branch?

[2016-02-25 15:27] pippinsplugins commented on #12
Done.

[2016-03-01 15:47] davekiss opened #13 "Update to ECommerce360 v3"
According to my correspondence with Garvey at MailChimp, we need to figure out a significant routine to sync up order data with ECommerce360 v3, as the current v2 data model is incompatible with the new changes.

Opening this up here for further discussion.

[2016-03-01 18:55] pippinsplugins commented on #13
Am I right in thinking that we could simply re-send all eCommerce data for all purchase records using the 3.0 model after installing the update?

[2016-03-02 01:40] davekiss commented on #13
Right - there needs to be a mass import of purchase history. Just not sure how long that routine time might vary between sites. It ideally would be a background process because importing years of purchase data could run for quite a while, but how do you think it should be handled?

[2016-03-04 01:58] mintplugins opened #14 "Integrate MailChimp with Recurring"
Idea Request:
Make it so that when a user purchases a recurring product, they get added to a corresponding list in MailChimp (EG "List for Product A").

When their subscription expires, they get removed (or moved to a different list).

[2016-03-04 20:12] cklosowski commented on #13
After talking with @davekiss at PN4, it might be beneficial to use a background processor (with no customer interaction) since the first big of V3 data that is sent will negate all V2 data. It's in our customer's best interest to get them to import all historical data into V3 as soon as possible, and I think a background process allows that without needing their interaction at all.

[2016-03-06 19:40] pippinsplugins commented on #14
I like this idea though I think instead of changing the list based on recurring status, we should simply send the subscription details through to MailChimp as merge tags.

[2016-03-06 20:03] pippinsplugins commented on #13
:+1:

[2016-03-08 18:41] davekiss commented on #13
Another note here - Ecommerce360 stores are now tied to specific lists. In order to add orders to a MailChimp store, you need to first create the store. When creating the store, you must provide a list ID parameter to define which list this store is associated with.

In the past, stores were global and were list-agnostic.

Perhaps we should loop through all of the lists in a mailchimp account and

[2016-03-08 20:55] pippinsplugins commented on #13
Can we have multiple stores per list?

Can we have multiple lists per store?

[2016-03-08 21:07] cklosowski commented on #13
Wow, this is kind of a gamechanger in how it worked prior...

[2016-03-08 21:40] davekiss commented on #13
@pippinsplugins I think the combination of the two (store_id + list_id) must be unique, and once created it operates as an individual entity

[2016-03-09 14:16] davekiss commented on #14
+1 on merge tags

[2016-03-09 21:16] pippinsplugins commented on #13
Blarg. That's so annoying.

[2016-03-27 11:43] flowdee opened #15 "Mailchimp eCommerce export and duplicate entries"
Exported latest sales data to mailchimp and it seems that accidently the dates overlapped with my last task for this. Now I've got my mailchimp eCommerce messed up with duplicate sale entries.

To be honest I'm a little bit shocked / disappointed that this plugin pushs the data without verifying in order to prevent creating duplicate entries?! Or do I miss something?

[2016-03-29 00:33] flowdee commented on #15
Think this comes from another 2nd plugin which pushes data as well. I'll check it.

[2016-03-29 00:33] #15 closed

[2016-04-11 09:01] chriscct7 opened #16 "Force refresh lists does not work anymore"
Not sure when it broke but it definitely does not work anymore.

[2016-04-11 09:02] chriscct7 commented on #16
Deleting the transient refreshes the lists correctly

[2016-04-11 09:07] chriscct7 commented on #16
Figured it out
https://github.com/easydigitaldownloads/edd-mail-chimp/blob/7912117d3e2ba0c4722894825711609ddd138390/includes/class-edd-mailchimp.php#L24 is what Mailchimp is hooking into to refresh. It's a sanitization filter that is supposed to be backwards supported after sections:

https://github.com/easydigitaldownloads/easy-digital-downloads/blob/62f4ad4c0e95f86667cb2ab2687fcd3c770e154f/inclu

[2016-04-11 09:08] chriscct7 commented on #16
This could arguably be an EDD regression. Some other extensions might assume that hook, like MailChimp does, will still fire even on their own sections.

[2016-04-11 13:08] pippinsplugins commented on #16
We should try to fix this in core. At least two or three other newsletter plugins use the same setup.

[2016-04-11 13:09] chriscct7 commented on #16
Bare in mind that could potentially have negative consequences if extensions aren't expecting that ^. Not sure if there's any written that way, but its plausible some hook into both places so that whatever they're doing on the sanitize filter fires exactly once regardless if its before or after edd version with subsettings. If by fixing it you make it fire for those two, then anything hooked in th

[2016-05-13 16:59] #1 closed

[2016-05-13 17:02] cklosowski opened #17 "Support double opt-in on download specific lists"
When using download specific list subscriptions, a user should be able to support double opt-in

[2016-05-24 22:35] sumobi opened #18 "Send price option to MailChimp"
It would be super useful to send the price option along to MailChimp when a customer purchases. For example, with AffiliateWP, we want to target users based on their license level (Professional, Ultimate etc). Currently we have to segment it based on price, but since there are upgrades, discount purchases etc, it's hard to know exactly what license level someone is on.

[2016-09-21 12:20] davekiss commented on #12
@pippinsplugins @cklosowski I'm in the middle of writing an upgrade routine and was planning on breaking away from the way that this plugin currently stores subscriber interests in the same post meta entry as the lists they should be subscribed to, eg:

            // array (size=5)
            //   0 => string '097846e40a' (length=10)
            //   1 => string '097846e40a|18033|Donating' (leng

[2016-09-21 14:13] davekiss commented on #12
@pippinsplugins just to clarify, do you mean overridden (as in override from extending class), or rewritten?

[2016-09-21 14:19] pippinsplugins commented on #12
Either is fine, take your pick.

Oh and see our Slack channel for some good news.

[2016-09-23 09:56] flowdee opened #20 "Group Support"
Would be great to connect downloads (and options) with certain mailchimp group options.

![bildschirmfoto 2016-09-23 um 11 55 50](https://cloud.githubusercontent.com/assets/2278756/18782053/bdf306aa-8184-11e6-8d0d-0ee3b28433f0.png)

[2016-09-23 13:18] pippinsplugins commented on #20
@flowdee we already support groups. They've been supported for a year+.

[2016-09-23 13:18] #20 closed

[2016-09-23 14:53] flowdee commented on #20
Selecting groups for each download option as well? Sorry I mush have overseen this 😞

[2016-09-24 10:00] flowdee opened #21 "Updating/replacing existing groups"
Right now when someone is already subscribed to the list and buys another download which might be assigned to different groups, they are not being updated:
- Download 1: Group 1
- Download 2: Group 2, Group 3

After buying group 1 and being subscribed, he was assigned to group 1. But after buying Download 2 he is still assigned to group1 and not to 2 and 3 as well.

![bildschirmfoto 2016-09-24 um

[2016-09-24 21:01] SDavisMedia opened #22 "updater should use item ID instead or item name"
We need to be able to change the name of the EDD extension on the site. Instead of theme trickery, the extension itself should stop depending on the product name for updates. If it depends on ID instead, I can change the product name and resolve issues like: https://github.com/easydigitaldownloads/EDD-Site/issues/965

[2016-09-25 15:43] davekiss commented on #21
I don't know that purchasing separate products warrants removing one interest and adding another, but new interests are merged with existing interests with the commit above.

[2016-09-26 07:08] flowdee commented on #21
An additional option to overwrite would be perfect, but merging is fine in my case too.

[2016-09-26 17:33] pippinsplugins commented on #21
An option to replace groups would be nice. I can see that being useful on sites that sell one or two products in a way that customers really only ever have one of them. For example, a site that sells one product at three different price points and they want a separate group for each product.

[2016-09-26 21:00] pippinsplugins commented on #22
@cklosowski could you push this update tomorrow? Let's put this and only this into a point release.

[2016-09-27 07:18] flowdee commented on #21
on the point, thanks Pippin!

[2016-10-05 12:41] brashrebel opened #23 "Send data to Mail Chimp feature shouldn't be enabled until account connected"
The send sales data to Mail Chimp tool is awesome. But it can be confusing since it doesn't offer much feedback and can be submitted even when it does nothing. I think one simple improvement would be to prevent the tool from being used until a valid API key has been saved and a list selected in the settings.

[2016-10-05 12:44] brashrebel opened #24 "Return success or failure message on send sales data tool"
That send sales data to Mail Chimp tool probably ought to show some kind of message after being submitted. Right now it can be submitted even though no account/list is connected as described in #23 and also without even specifying a date range...though that makes sense, maybe it should be visually indicated that selecting a date is optional? Anyway, regardless, after submission we should show a su

[2016-10-21 11:41] brashrebel opened #25 "Support abandoned cart workflows"
Once #12 is complete, it should be possible to introduce a feature in EDD Mail Chimp which allows store owners to leverage [Mail Chimp's abandoned cart workflows](http://kb.mailchimp.com/automation/create-an-abandoned-cart-workflow?_ga=1.165129087.1964850317.1456943094).

[2016-10-21 13:56] pippinsplugins commented on #25
:+1:

[2016-10-21 14:41] mintplugins opened #26 "Clarify what "Send Sales Data to MailChimp" means in the metabox."
The metabox for sending ecommerce sales data to mailchimp seems to lead customers to believe that clicking "Send Data" will import their customers' email addresses into their MailChimp email lists. We have added a note about this to our docs but still get tickets about it (and I forgot myself).

We should add a descriptive note to the metabox to explain what this means and what it is actually doin

[2016-10-22 14:21] flowdee commented on #25
👍

[2016-11-03 15:03] pippinsplugins commented on #12
@davekiss this triggered unexpected output during activation:

The plugin generated 223 characters of unexpected output during activation. If you notice “headers already sent” messages, problems with syndication feeds or other issues, try deactivating or removing this plugin.

[2016-11-03 15:03] pippinsplugins commented on #12
Looks like it was due to this:

PHP Deprecated: Non-static method EDD_MailChimp_Extension::instance() should not be called statically in /Users/pippin/Sites/edd/wp-content/plugins/edd-mailchimp/edd-mailchimp.php on line 136

[2016-11-03 15:05] pippinsplugins commented on #12
Fixed.

[2016-11-03 15:10] pippinsplugins commented on #12
@davekiss I've tested this and it appears to work fine, but I'm pretty sure it's still running v2. I never saw an upgrade notice for v3.

Doesn't look like any of the logic has been written to show site admins the upgrade notice. Is that correct?

[2016-11-03 18:08] davekiss commented on #12
@pippinsplugins something must be amiss - the upgrade routine is written and should show a notice (see https://github.com/easydigitaldownloads/edd-mail-chimp/blob/api3/includes/class-edd-mailchimp-v3-upgrade.php)

[2016-11-03 22:42] pippinsplugins commented on #12
Definitely didn't show :)

Could you test again please?

[2016-11-04 14:18] davekiss commented on #12
@pippinsplugins the notice does show on my end. You can see [the class gets conditionally loaded here](https://github.com/easydigitaldownloads/edd-mail-chimp/blob/2dea51bf0f71c4497aaf38ebb1481576ab770fe4/edd-mailchimp.php#L61-L86)

Can you uncomment the dev code to ensure your EDD upgrade routines do not show that the routine has already been run?

[2016-11-09 20:29] pippinsplugins commented on #12
@davekiss definitely does not show. I confirmed the upgrade routine is _not_ marked as completed.

[2016-11-10 13:44] davekiss commented on #12
@pippinsplugins can you check if the [upgrade class is getting loaded here?](https://github.com/easydigitaldownloads/edd-mail-chimp/blob/api3/edd-mailchimp.php#L82)

[2016-11-11 02:38] pippinsplugins commented on #12
I'll test in the morning and let you know.

[2016-11-11 17:29] cklosowski commented on #12
Ok I got this installed, tested it with the upgrade routine. Other than the data looking the same within my list for the ecommerce data for a subscriber, should I see any difference?

I did verify that the ecommerce data for my other lists exists still.

[2016-11-11 17:36] cklosowski commented on #12
Found a slight bug, maybe in the API3 stuff...but all my purchases are coming in at yesterday at 5pm (which would be UTC +0 today, based off my local timezone in Mailchimp)

![screen shot 2016-11-11 at 10 35 43 am](https://cloud.githubusercontent.com/assets/1390124/20224235/b8428856-a7fa-11e6-9cf2-2a5d02ac5881.png)

[2016-11-11 17:38] davekiss commented on #12
@cklosowski this doesn't change ecommerce stuff at all yet - the first move is simply a transition to API3 calls for list subscribe and interest groupings

[2016-12-05 07:52] flowdee commented on #12
do you think you can work it out during the next weeks? Shutdown of the old API coming closer 😨

[2016-12-05 15:02] pippinsplugins commented on #12
It's on my priority list for next few weeks.

@flowdee the API isn't getting shut down on January 1 anymore. They extended it, hence our lack of urgency.

[2017-01-31 19:09] mintplugins opened #27 "Google Analytics data vs E-Commerce data is discrepant."
In campaign reports in MailChimp, a customer has reported that the data collected for sales on the "E-Commerce" tab is not in agreement with the data collected on the Analytics360 tab.

They are using the Monster Analytics eCommerce add-on and their Google Analytics appear to be correct.

I was able to send a test campaign, click the link, buy the products, and my sale did show up under the EComme

[2017-01-31 23:05] SDavisMedia commented on #18
I have a customer of Free Downloads and MailChimp wanting to send data to MailChimp about which product was purchased through Free Downloads which resulted in being added to a MailChimp list. Would y'all consider this the same enhancement? If not, can create a new issue.

Here's what he's actually requesting:

[code]

[2017-02-01 13:57] mintplugins commented on #27
The customer got a reply from MailChimp on this and they recommended upgrading to the V3 API:

"I would like to recommend if you're using an already built integration for your e-commerce information to check and ensure it's on v3.0. If not, it would be best to see if the developer has any intentions on upgrading this to v3.0 of the API."

[2017-03-04 00:03] davekiss commented on #13
Please reference https://github.com/easydigitaldownloads/edd-mail-chimp/pull/19 for related progress on this generic issue.

[2017-03-04 00:03] #13 closed

[2017-03-15 23:30] davekiss commented on #26
This functionality is going to be removed in the API 3 rewrite. All store data will be synced with a MailChimp list, though, the customer won't automatically be subscribed to the list if they are not present on the list.

Customers will instead be added as a **transactional** subscriber, which allows them to be included in MailChimp reports and segments, but they won't receive outgoing newsletters

[2017-03-15 23:32] davekiss commented on #24
This tool is being reworked in the `api3` rewrite. Please see https://github.com/easydigitaldownloads/edd-mail-chimp/issues/26 for further discussion.

[2017-03-15 23:32] #24 closed

[2017-03-15 23:32] davekiss commented on #23
This tool is being replaced in the `api3` rewrite. Please see https://github.com/easydigitaldownloads/edd-mail-chimp/issues/26 for further discussion.

[2017-03-15 23:32] #23 closed

[2017-03-15 23:36] davekiss commented on #18
Product variants will be sent along with every order as part of the `api3` rewrite.

This feature has been implemented in the following commit: https://github.com/easydigitaldownloads/edd-mail-chimp/commit/7edd28ace09213dd48b515a0c48e155877163e52#diff-aa727cb93639db73e72cee58327f0998

[2017-03-15 23:36] #18 closed

[2017-03-15 23:40] davekiss commented on #9
This user experience has been vastly improved in the `api3` branch, which introduces the concept of "Connected Lists"

https://github.com/easydigitaldownloads/edd-mail-chimp/commit/d969ef82c2584b9f71dd24d3cc72831657a0f34e#diff-0a0509cb4a27ce341cf836f95f788497

Instead of fetching and caching all of a users lists in several different places throughout the plugin, we'll always fetch the latest remot

[2017-03-15 23:40] #9 closed

[2017-03-15 23:53] brianhogg commented on #26
Any rational behind the major functionality change?

Since they're a customer that's implicit consent to be added to a list in every spam legislation I've seen, and many like myself are mostly using that list for a small amount of follow up automation and any security or major update emails.  Seems it should be an option to auto subscribe as now.

Would they still be added to the main list selecte

[2017-03-16 04:22] davekiss commented on #26
@brianhogg sorry, my comment was not clear enough.

What I mean is that any backfilled customer data might make most sense to tag as transactional rather than a subscriber if they aren't already on the list from a previous subscription. In my mind, consent to opt in to a list (or auto-subscribe, based on the store owner's preference) may not necessarily apply retroactively, but to customers moving

[2017-03-16 11:27] brianhogg commented on #26
Thanks for clarifying!

I think the same thing should happen on purchase as it does on backfill.  This way if there's ever an issue with the plugin or communication with MailChimp, the backfill can get everything (subscriptions and ecomm data) back in sync again.

I could definitely see it being an option to subscribe or not subscribe, but stay the same as current for those upgrading the plugun.

[2017-03-20 23:20] davekiss commented on #16
This is being completely refactored in the `api3` branch, thought we'll continue hooking in to the `edd_settings_extensions_sanitize` filter in the case that the MailChimp extension is the first subsection listed in the Extensions tab (the `extensions` query string wouldn't be present in this case) or is the only Extension installed (unlikely but possible.)

[2017-03-20 23:20] #16 closed

[2017-03-21 00:16] pippinsplugins commented on #16
:+1:

[2017-03-21 19:25] davekiss commented on #8
@pippinsplugins In the `api3` branch, there is a filter added to the subscription payload that will allow other plugins to hook in and add their own `merge_vars`.

Think this sort of thing should be handled within the extension looking to add data (ie. Checkout Fields Manager, Software Licensing etc.), or, handled within the EDD_MailChimp `subscribe` method?

Related: https://github.com/easydigita

[2017-03-22 16:31] davekiss commented on #17
@pippinsplugins @cklosowski can you guys weigh in on the importance of this feature? Are you saying that it should be possible to mark double opt-in as not required globally, but required on any given individual download?

I'm still not really sure about how people use double opt-in anyway, so maybe I'm missing something.

[2017-03-22 17:25] flowdee commented on #17
Here in Germany for example in most of the cases you are forced to use double opt-in. Right now I would not be able to use the download specific list feature because it doesn't make use of the global setting for "enable double opt-in".

[2017-03-22 21:29] pippinsplugins commented on #17
Yes. It should be able to be configured for the checkout opt-in and also on a per-product basis for the automatic subscription added when purchasing a product.

[2017-03-22 21:31] pippinsplugins commented on #8
Awesome! I agree, the rest of this can be done through the other plugins.

[2017-03-22 22:57] davekiss commented on #8
Sounds good. As a result, I'll be closing this issue along with #6 and #14

[2017-03-22 22:57] #8 closed

[2017-03-22 22:58] #6 closed

[2017-03-22 22:58] #14 closed

[2017-03-25 10:23] flowdee commented on #21
Any chance to get #21 into your current rebuild as well? Would be awesome! 💚 @davekiss @brianhogg

[2017-03-26 15:15] #21 closed

[2017-04-10 14:02] mintplugins opened #28 "Add support for merge tags"
Once the API v3.0 is done, we should look into adding support for merge tags.

For example, EDD Recurring could use this to update a user's merge tag (for example "active_subscription") so that you could send campaigns to only people with active subscriptions or only inactive subscriptions.

Free Downloads could also include a merge tag if a user was added to a list because of a Free Download. The

[2017-04-10 14:18] mintplugins commented on #28
P.S. I think it makes sense to store all MailChimp integrations with other plugins (like recurring, free downloads) directly in the MailChimp extension in the new "integrations" directory we are putting into all new extensions.

[2017-04-13 22:43] cdils commented on #28
+1 this so hard

[2017-04-19 17:26] SDavisMedia commented on #22
Is this still feasible? Are the SL problems or anything in the way?

[2017-04-19 19:19] pippinsplugins commented on #22
I believe we can do this now.

[2017-04-20 15:45] SDavisMedia opened #29 "Add setting for checkout checkbox default state"
The checkbox on checkout is always checked by default. Let's add a setting to control its default state.

[2017-04-24 14:03] mintplugins opened #30 "Possible FES Integration - customer request."
Just wanting to log this for future investigation:

A customer wants their Vendors to be able to have their customers get added to their own Vendor lists in MailChimp. Apparently this is possible through "MailChimp Agency Accounts":

http://kb.mailchimp.com/accounts/mailchimp-for-agencies/how-to-use-mailchimp-for-agencies

[2017-05-22 21:54] #29 closed

[2017-05-23 00:35] #17 closed

[2017-05-23 01:04] davekiss commented on #26
@pippinsplugins @cklosowski can you guys weigh in here so the behavior is as expected when `api3` gets merged?

[2017-05-31 18:51] pippinsplugins commented on #26
I do not feel we should allow store admins to backfill customer subscriptions. Transactional data, sure, but not actual list subscriptions. That'd be too easy to abuse.

If someone wants to do that, they can export the customer list and import it through MailChimp's interface. That way at least they are shown all of the prompts by MailChimp that alert them to the potential abuse.

[2017-06-01 13:37] davekiss commented on #26
@pippinsplugins Cool, I'll leave this as `false` then, and leave it up to a developer if they wish to override manually with a filter.

For details on what this flag does, see http://developer.mailchimp.com/documentation/mailchimp/guides/getting-started-with-ecommerce/#about-subscribers-and-customers

[2017-06-01 13:37] #26 closed

[2017-08-05 18:23] danieliser commented on #12
Curious if this ever got finished? Would love to take advantage of all the new MC v3 Ecommerce automation goodies :)

[2017-08-06 06:54] flowdee commented on #12
They are workin' on it as you can see here: https://github.com/easydigitaldownloads/edd-mail-chimp/pull/19#issuecomment-320323937

[2017-09-25 23:08] pippinsplugins commented on #12
Moving over here from #19.

I've just tested a brand new site and list subscriptions are still not working here. Not yet sure why.

[2017-09-25 23:12] pippinsplugins commented on #12
According to my MailChimp logs, there isn't a single PUT or POST request to the /members/ API endpoint.

I think it's failing because `$this->api` is not set in the `subscribe()` method of `EDD_MailChimp_List`.

[2017-09-25 23:18] pippinsplugins commented on #12
Hmm, nope, definitely set.

[2017-09-26 01:30] pippinsplugins commented on #12
I've been able to confirm that the subscribe() method of `EDD_MailChimp_List` works fine.

[2017-09-26 01:52] pippinsplugins commented on #12
Ok pretty sure this is working now.

[2017-09-26 16:43] pippinsplugins commented on #12
We need to send the `landing_site` parameter to MailChimp (it's not currently):
<img width="1312" alt="screen shot 2017-09-26 at 11 43 22 am" src="https://user-images.githubusercontent.com/1034109/30872519-fa09d450-a2af-11e7-9302-960453c320a3.png">

[2017-09-26 16:53] pippinsplugins commented on #12
Upgrade notice won't ever go away for me:
<img width="1370" alt="screen shot 2017-09-26 at 11 53 32 am" src="https://user-images.githubusercontent.com/1034109/30872969-5a0a52a2-a2b1-11e7-8126-6a3c59865c06.png">

[2017-09-26 16:58] pippinsplugins commented on #12
Here's another wrong thing:

<img width="1363" alt="screen shot 2017-09-26 at 11 58 08 am" src="https://user-images.githubusercontent.com/1034109/30873197-fed1b9a6-a2b1-11e7-86c2-53fb1f28258b.png">

It shows `Kyle ordered` when clearly it's on my `Pippin Williamson` profile.

[2017-09-26 17:02] pippinsplugins commented on #12
Upgrade routine marked as complete successfully now.

[2017-09-26 17:04] pippinsplugins commented on #12
Another todo: carts are not sent to MailChimp. Those need to be added so that cart recovery can be used.

[2017-09-26 17:39] pippinsplugins commented on #12
Two new things I just found:

1. When activating MC on a brand new install, it shows a notice that the upgrade routine needs to run. This upgrade fails because there is no API key entered yet. It's also not needed because it's a fresh install.

2. We need to create the database tables during activation otherwise it throws PHP notices on initial activation.

[2017-09-26 18:28] pippinsplugins commented on #12
Instead of removing orders from MailChimp, we need to mark them as refunded so that refunded email notifications can be sent.

[2017-09-26 21:21] danieliser commented on #12
@pippinsplugins Been following your comments today, do you think its ready for testing on real data via staging & test MC list? I can run it later tonight and give you feedback on pass/fail & data sync.

[2017-09-26 21:29] pippinsplugins commented on #12
@danieliser I would _love_ to have some testing :)

I would do it on a staging site though I don't believe there's anything "dangerous" with doing it on a live site.

[2017-09-26 22:19] danieliser commented on #12
@pippinsplugins Awesome, super excited for this update so will definitely get this latest batch tested.

I did notice you referenced the debugger from EDD which I'm assuming is not in the current version. Any specific branch / commit I need for this to be compatible or will it work with the current version of EDD core as well?

[2017-09-26 23:21] pippinsplugins commented on #12
@danieliser see https://github.com/easydigitaldownloads/easy-digital-downloads/issues/4864

[2017-09-29 08:26] sunnyratilal commented on #12
**First round of testing:**

- Upgrade routine notice doesn't seem to go away. On a fresh activation it still displays and doesn't go away even after the routine is run.  (API key has been entered). ⚠️
![image](https://user-images.githubusercontent.com/1525554/31007048-0e0a0a76-a4f7-11e7-8527-2274fdd5a398.png)
- List syncs correctly ✅
- After `Force Sync` is pressed, the page should redirect back

[2017-10-02 18:12] cklosowski commented on #12
@pippinsplugins this is looking good. I'd like to see calls to `edd_debug_log` be wrapped in a function exists check. It's likely that b/c of the 3.0 upgrade people may try and upgrade MailChimp before EDD core, that way if they do, they don't get fatal errors.

[2017-10-02 18:27] cklosowski opened #31 "Add support for Cart Tracking & Sales Recovery"
This is a 3.0 API feature that we need to build out still. In order to get the 3.0 API fixes out in #12 we needed to punt this feature for a fast follow in Version 3.1

[2017-10-02 18:31] pippinsplugins commented on #12
@cklosowski there is a function_exists() fallback in `functions.php`:

[code]

[2017-10-02 19:26] mintplugins commented on #12
Here are a few of the initial issues I found while testing. Note that I am also going to be going through the docs to update them so I have a few questions about things as well:

- It wasn't clear what "Connecting a List" does or means - or even that I had to do something. Could the description of that setting be improved?

<img width="740" alt="screen shot 2017-10-02 at 12 15 08 pm" src="https://

[2017-10-02 19:36] mintplugins commented on #12
Updating to EDD 2.7.8 resolved the warnings.

[2017-10-02 20:39] mintplugins commented on #12
When checking out, even though I've checked the box to subscribe to the list, I am not actually subscribed to the list. I have confirmed that the list is checked for the product in question.

[2017-10-02 21:38] pippinsplugins commented on #12
@mintplugins for the subscribe on checkout issue, was that with a brand new MC account or one that had been used with a store previously?

[2017-10-02 21:45] mintplugins commented on #12
Also, my interest groups do not appear to be showing up on my product's edit screens:
<img width="300" alt="screen shot 2017-10-02 at 12 23 22 pm" src="https://user-images.githubusercontent.com/1638128/31100922-2d0b3f54-a780-11e7-8edf-99175f10554b.png">

Here they are in MailChimp:
<img width="1325" alt="screen shot 2017-10-02 at 2 44 33 pm" src="https://user-images.githubusercontent.com/1638128/3

[2017-10-02 21:45] mintplugins commented on #12
@pippinsplugins For the subscribe on checkout, I am using a brand new account for testing at the moment.

[2017-10-03 12:54] cklosowski commented on #12
On Initial activation (not having tested on this install yet) I see the following in Query Monitor:
<img width="1273" alt="screen shot 2017-10-03 at 8 53 31 am" src="https://user-images.githubusercontent.com/1390124/31126023-6adf106a-a818-11e7-913d-10abc0b9ffed.png">

This doesn't happen on page refresh because the tables exist now, but we should prevent those errors from occurring as they might r

[2017-10-03 13:09] cklosowski commented on #12
Notes on Testing:
- [x] The initial syncing seemed to work great. All the data was moved over in a reasonable amount of time
- [x] When a new email address was entered at checkout and opt'd in, the subscription to the list was completed
- [ ] When a new email address was entered at checkout but for an existing customer/user, ecommerce data was connected to this new email address.

[2017-10-03 16:15] cklosowski commented on #12
Getting a weird situation with the upgrade routine.

This site never had MC on it before this 3.0 branch. My data was ported over fine but then today it started prompting me for an upgrade, and clicking it never completes, just keeps showing me that there is an upgrade in progress:
![screen shot 2017-10-03 at 12 12 39 pm](https://user-images.githubusercontent.com/1390124/31135903-8a6c2532-a834-11e

[2017-10-03 16:16] cklosowski commented on #12
The URL on the upgrade link is:
`http://edd.dev/wp-admin/index.php?page=edd-upgrades&edd-upgrade=upgrade_mailchimp_api3`

[2017-10-04 05:43] sunnyratilal commented on #12
I have the same as @cklosowski with the upgrade routines: clicking it never completes, just keeps showing me that there is an upgrade in progress.

[2017-10-04 05:45] sunnyratilal commented on #12
@cklosowski I'm not sure if we can actually remove that error because it's baked into `dbDelta`: https://github.com/WordPress/WordPress/blob/master/wp-admin/includes/upgrade.php#L2218.

[2017-10-04 13:40] cklosowski commented on #12
@sunnyratilal I know we've gotten around it in other extensions and EDD core before by checking if the table exists...does throwing an `@` before it stop it from outputting the error?

[2017-10-04 15:36] pippinsplugins commented on #12
Just saw this PHP notice:

PHP Notice: Undefined index: price_id in /Users/pippinwilliamson/Sites/edd/wp-content/plugins/edd-mailchimp/models/class-edd-mailchimp-order.php on line 92

[2017-10-04 19:44] cklosowski commented on #12
There is a flaw in the way the upgrade routines are run. Because they redirect back onto each other automatically, notices aren't being cleared out prior to redirecting. Trying to clear it up now.

[2017-10-04 19:48] sunnyratilal commented on #12
@cklosowski Yeah throwing the`@` removes the errors.

[2017-10-04 19:51] cklosowski commented on #12
Lets do that then.

[2017-10-06 14:32] cklosowski commented on #12
So i think i figured out the issue with the upgrade notices. I hadn't been running mailchimp on this environment prior to this so the setup was initially done via 3.0, however i'm not being prompted for the upgrade routine. I think we need to mark the 3.0 upgrade routines as complete on initial install.

[2017-10-06 14:43] pippinsplugins commented on #12
@cklosowski we could check and see if the DB has any existing MC settings. If not settings, it's a new install.

[2017-10-06 15:04] cklosowski commented on #12
Clicking force sync, redirects back to main extensions subsection instead of mailchimp subsection. Notice does show correctly though.

[2017-10-06 15:19] cklosowski commented on #12
going to keep plugging away, having some issues with new orders getting added to MC ecommerce data for a user now.

[2017-10-06 15:48] cklosowski commented on #12
Looks like my ecommerce data is just 'pending', even after clicking to force sync. probably why i'm missing some data?

<img width="1128" alt="screen shot 2017-10-06 at 11 47 32 am" src="https://user-images.githubusercontent.com/1390124/31286469-3843b360-aa8c-11e7-9618-956dbdc4c5d1.png">

[2017-10-06 16:01] cklosowski commented on #12
Debug log shows that it's adding, so maybe we aren't catching a specific response and getting a false positive?
<img width="771" alt="screen shot 2017-10-06 at 12 00 26 pm" src="https://user-images.githubusercontent.com/1390124/31287043-01c68d74-aa8e-11e7-9c37-01f1696e2a75.png">

[2017-10-06 16:31] pippinsplugins commented on #12
@cklosowski I think you're running into the same thing that I did. Everything pointed to it working, except the data not showing up in MailChimp.

[2017-10-06 17:05] cklosowski commented on #12
Ok. I'll keep digging.

On Oct 6, 2017 12:31 PM, "Pippin Williamson" <notifications@github.com>
wrote:

[2017-10-06 21:08] cklosowski commented on #12
Looks like 'subscribe date' is getting a little mixed up too:
<img width="301" alt="screen shot 2017-10-06 at 5 07 33 pm" src="https://user-images.githubusercontent.com/1390124/31298614-f898a9dc-aab8-11e7-82a4-6acc6550c351.png">

[2017-10-06 21:31] cklosowski commented on #12
Found the issue with commerce data not being sent:
<img width="771" alt="screen shot 2017-10-06 at 12 00 26 pm" src="https://user-images.githubusercontent.com/1390124/31299398-38fb7cd6-aabc-11e7-8a5c-813c9bd063dc.png">

[2017-10-07 01:14] danieliser commented on #12
@cklosowski Does that mean that every product & variants has to be synced to the MC list prior to syncing purchases?

[2017-10-07 01:14] cklosowski commented on #12
@danieliser still to be determined. I'm working through the debugging now.

[2017-10-09 18:53] sunnyratilal commented on #12
@cklosowski Just pulled `master`, still getting the following notice:
`Easy Digital Downloads needs to complete a database upgrade that was previously started, click here to resume the upgrade.`

The other notice now doesn't show up as expected.

[2017-10-09 18:54] cklosowski commented on #12
@sunnyratilal try `api3` branch? `Master` is not merged yet.

[2017-10-09 18:55] cklosowski commented on #12
Also, you can kill that 'pending' upgrade thing in the `tools` section of EDD.

[2017-10-09 18:55] sunnyratilal commented on #12
Sorry, meant `api3`

[2017-10-09 19:14] sunnyratilal commented on #12
@cklosowski Whenever I'm running purchases, it's failing to send it to MailChimp:

[code]

[2017-10-09 19:14] cklosowski commented on #12
@sunnyratilal ok I've seen that error a few times too...could you try creating a new list, and setting it as the default, to see if that changes anything?

[2017-10-09 19:38] sunnyratilal commented on #12
@cklosowski no luck, sadly

[2017-10-09 21:13] sunnyratilal commented on #12
@cklosowski latest commit works a charm. Everyone is now working correctly.

[2017-10-09 22:49] cklosowski commented on #12
**TESTING NOTE**

With these updates, you will need to re-save your downloads so that the details get re-sent about the product. This isn't going to be necessary in final release, just because we've been testing it and changed the way it was saved.

[2017-10-09 23:33] sunnyratilal commented on #12
@cklosowski Further testing complete on other local sites and the data is being correctly to MailChimp.

[2017-10-10 15:57] pippinsplugins commented on #12
@cklosowski @sunnyratilal do you guys feel this is ready for testing on a live site like pippinsplugins.com?

[2017-10-10 20:05] sunnyratilal commented on #12
@pippinsplugins I've conducted more testing today and it seems to be consistent in the way it works now. Green light from me unless @cklosowski has been any weird issues today.

[2017-10-11 00:06] danieliser commented on #12
@pippinsplugins Just ran this on staging with test list and it is still syncing data in the background I'm assuming as the list is getting updated with new non-subscribed customers, ecommerce purchase data and best of all the ecommerce campaigns are available. Will keep an eye on logs to see if any issues come up during background sync.

[2017-10-11 15:15] cklosowski commented on #12
@pippinsplugins @sunnyratilal I think it's time to get it with some real data. In my testing everything is working as expected.

[2017-10-11 15:28] pippinsplugins commented on #12
I'm going to put it on pippinsplugins.com then and start testing!

[2017-10-11 15:33] pippinsplugins commented on #12
Here's a small bug:
![Uploading Screen Shot 2017-10-11 at 10.32.42 AM.png…]()
The group category names aren't showing, just the group names themselves.

[2017-10-11 15:41] pippinsplugins commented on #12
Fixed.

[2017-10-11 15:45] pippinsplugins commented on #12
Everything looks to be working! I did a test purchase and the order data immediately showed up in MC 🎉 !

[2017-10-11 15:49] pippinsplugins commented on #12
Going to let it run for a day or two while keeping an eye on it.

[2017-10-12 03:18] cklosowski commented on #22
I think SL is all cleared up now. I'll get an update out for this, this week, in preparation for #12

[2017-10-12 07:42] flowdee commented on #12
Regarding the meta box for lists and groups:

Wouldn't there be a way collapse the list of groups below each list? This gets really ugly when you have more than 1 list in your mailchimp account with multiple groups.

[2017-10-12 14:50] pippinsplugins commented on #12
A few sales have gone through and all looks well!

[2017-10-12 14:51] pippinsplugins commented on #12
@flowdee it is collapsed automatically when the lists are unchecked.

[2017-10-12 15:05] #22 closed

[2017-10-12 15:06] pippinsplugins commented on #22
Merged but moved to 3.0. That update is getting super close so we might as well combine them.

[2017-10-12 17:32] danieliser commented on #12
@pippinsplugins - After install am I supposed to see a global admin notice to perform some action? I know you were having trouble with it dismissing properly, but I just installed it on fresh copy of our live site which uses the current version and I didn't get any notices.

I can manually go into settings and select the list and force sync which works. Just wanted to be sure there wasn't supposed

[2017-10-12 17:43] pippinsplugins commented on #12
@danieliser only if you had a default list and opt-in option enabled on checkout. If you didn't, you won't see an upgrade notice.

[2017-10-12 18:33] mintplugins commented on #12
I was testing a different issue on a site where I hadn't configured MailChimp yet (settings are blank) and getting this upon checkout:

Notice: Trying to get property of non-object in /Users/philjohnston/Documents/wps/edd2.dev/wp-content/plugins/edd-mail-chimp/includes/class-edd-mailchimp-checkout.php on line 80

[2017-10-12 21:48] danieliser commented on #12
@pippinsplugins Did have the optin on the checkout, not sure about setting a default list or not, but all seems to be working correctly except the date added for synced users is currently set to ```12/31/69 7:00PM```

[2017-10-13 15:55] pippinsplugins commented on #12
@danieliser is that the date for newly added subscribers or subscribers that were added via the background sync?

[2017-10-13 18:18] danieliser commented on #12
@pippinsplugins It appears for the background synced users who were not in the list already only.

[2017-10-16 17:18] cklosowski commented on #12
@pippinsplugins I saw that too with users who were added via the background sync and not subscribed (Transactional users only)

[2017-10-27 01:33] pippinsplugins commented on #12
I think the issue is due to us not passing the `processed_at_foreign` parameter, which MailChimp defines as: `The date and time the order was processed.`.

[2017-10-27 01:33] pippinsplugins commented on #12
Scratch that, we do pass it.

[2017-11-11 01:20] danieliser commented on #12
Just a heads up, was using the v3 test branch quite nicely until I updated the core plugin to the latest version via Dashboard -> Updates -> Manual update of edd core from wordpress.org.

Immediately white screened with 500 for missing EDD_Download class called from edd-mail-chimp which I am assuming means that the extension is calling that class for some reason during the update process while EDD

[2017-11-13 16:58] danieliser commented on #12
@cklosowski I will check but don’t have high hopes as we Engine clears them every 24 hours.

From memory it was simply calling EDD_Download when it wasn’t available. I can attempt to break it on purpose today by deactivating core though I feel it would probably do it readily on a clean install. No syncing issues. Just error 500 until I got Edd-mail-chimp renamed and activated Edd core and them MC

[2017-11-13 17:19] cklosowski commented on #12
No worries @danieliser, I've already pushed something to the branch that doesn't load up MC when the `Easy_Digital_Downloads` class is not present, that should fix it.

[2017-11-14 16:07] cklosowski commented on #12
Ran into this when hitting the transaction failed page:
[code]

[2017-11-22 21:44] Shelob9 opened #33 "edd_mc_subscribe_vars filter should pass EDD_Customer"
I'm pretty sure that customer is not stored in DB until data is sent to MailChimp, which makes this impossible, as it. If the order was changed, then instead of finding the customer by the email about to be subscribed, I'd have the object describing the customer, which would be better.

I am currently trying to send some merge fields. My site-specific subclass of `EDD_Customer` has methods for all

[2017-11-29 04:17] eugenesp commented on #12
When do you plan to release V3 for EDD customers?

[2017-11-29 04:39] pippinsplugins commented on #12
Very, very soon. This week hopefully.

On Tue, Nov 28, 2017 at 10:17 PM, eugenesp <notifications@github.com> wrote:

[2017-11-30 22:02] cklosowski commented on #12
Just pushed up something for the order model that verifies that cart contents is an array and isn't empty to avoid the above scenario.

[2017-12-05 02:44] eugenesp opened #34 "Allow to specify a default Mailchimp list for all downloads"
Would be a convenient option for customers like myself with a single Mailchimp list. Currently, it seems to be impossible to specify a default list via UI.

[2017-12-11 15:04] davidsherlock opened #35 "Add action hooks and filters to allow 3rd party integration"
At the minute MailChimp for EDD contains no hooks or filters throughout the code to allow integration or modification from other plugins.

I recently released a plugin for _MailChimp for WordPress_ that generates and issues discount codes on successful form submissions and would like to include support for EDD MailChimp to help promote it more. You can view the plugin here: https://www.sellcomet.c

[2018-01-16 00:32] mintplugins opened #36 "Updating customer email in EDD should update customer email in MailChimp"
Just leaving this here as a reminder for testing. When a customer's email is updated in EDD, should it be updated in MailChimp?

[2018-01-16 00:33] pippinsplugins commented on #36
Yes I think it should.

[2018-01-16 00:33] pippinsplugins commented on #36
Note: this is not a bug as this was never built, but it's a good idea so tagging it as an enhancement.

[2018-01-16 00:51] mintplugins opened #37 "New interest groups created in MC don't show in EDD unless you reconnect list"
If you add a new interest group to a list in your MailChimp account, those interest groups will not show in the product editing screen unless you disconnect and reconnect the list on the MailChimp extension's settings page.

Adding a screenshot here purely to add context about the area I am referring to:
<img width="295" alt="screen shot 2018-01-15 at 7 51 19 pm" src="https://user-images.githubuse

[2018-01-16 01:24] pippinsplugins commented on #12
Merging this. Any and all bug reports can now be opened as new issues please.

[2018-01-16 01:24] #12 closed

[2018-01-16 19:08] scottrpaterson opened #38 "Disconnected or removed lists do not remove wp_edd_mailchimp_sync_batch"
With version 3.0, if you click the disconnect button or delete a list on Mailchimp the wp_options row for "wp_edd_mailchimp_sync_batch..." does not get deleted. Also the wp cron keeps running so it will continue to add new wp_options "wp_edd_mailchimp_sync_batch..." rows and continue to try and sync.

Why is this a problem: If the list is deleted on Mailchimp then the API will throw a "list not fo